body{
    margin: 5px;
    padding: 10px;;
    font-family: sans-serif;
} 

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: fit-content;
}

.container1{
    background: rgba(0,25,83,255);
    border-radius: 5px;
}


.header-section{
    margin: 5px;
    padding: 5px;
    color: yellow;
}

a{
    text-decoration: none;
}
.request{
    color: rgba(0,25,83,255);
    border-radius: 5px;
    border-style: none;
    padding:5px;
    font-family:sans-serif;
    margin: 10px;
    background-color:yellow;
}

.status{
    color: rgba(0,25,83,255);
    border-radius: 5px;
    border-style: none;
    padding:5px;
    font-family:sans-serif;
    margin: 10px;
 background-color: yellow;
    
}

.history{
    color: rgba(0,25,83,255);
    border-radius: 5px;
    border-style: none;
    padding:5px;
    font-family:sans-serif;
    margin: 10px;
    background-color: yellow;
}

.hod{
    margin: 5px;
    padding:5px;
    font-family:Monospace;
    font-size:large;
    color: white;
}


.Leave{
    color: white;
}
.visit{
    color: white;
}

.fromdate{
    color: white;
}

.timefrom{
    color: white;
}

.todate{
    color: white;
}
.timeto{
    color: white;
}
.reason{
    color: white;
}
.mail{
    color: white;
}
.pass{
    color: white;
}
.submit{
    background-color:yellow ;
    border-radius: 5px;
    border-style: none;
    color: rgba(0,25,83,255);
}


.header{
    font-family:Monospace;
    font-size:large;
    text-align: center;
}


.button{
    color: rgba(0,25,83,255);
    border-radius: 5px;
    border-style: none;
    padding:5px;
    font-family:sans-serif;
    margin: 10px;
    background-color:yellow;
}

.stubutton{
    background-color:yellow ;
    border-radius: 5px;
    border-style: none;
    color: rgba(0,25,83,255);
    margin: 5px;
    border-radius: 5px;
    border-style: none;
}

.adbutton{
        background-color:yellow ;
        border-radius: 5px;
        border-style: none;
        color: rgba(0,25,83,255);
        margin: 5px;
}

.penbutton{
        background-color:yellow ;
        border-radius: 5px;
        border-style: none;
        color: rgba(0,25,83,255);
        margin: 5px;
}
.reqbutton{
    background-color:yellow ;
        border-radius: 5px;
        border-style: none;
        color: rgba(0,25,83,255);
        margin: 5px;
    }
